h1{
    color: red;
    text-align: center;
}
.info,ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 0;
    margin: 10px;
}
p {
    margin: 0 auto;     
    line-height: 1.5;     
    text-align: justify;  
}

.frontend-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div,#front{
    font-size: medium;
    font-weight: 800;
    
}
.backend-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

